.center_block{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* max-width: 60em; */
    min-width: 200px;
    /* padding: 50px; */
}
.contact,
.skills {
    margin-left: 2rem;
}
main {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    background-color: lightgrey;
    text-align: center;
}
main ul {
    text-align: start;
    }
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    /* align-self: center; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
    /* padding: 15px; */
    width: 100%;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #313f4a;
    background-color:bisque; 
}
.nav-list {
   display: flex;
   font-family:sans-serif;
   font-size:x-small;
}

.nav-link {
margin-right: 2rem;
}